.main {
  min-height: 100vh;
  background-color: $secondary;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;

  &-container {
    margin-top: 3vh;
    width: 80vw;
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 600px) {
      flex-direction: column;
      align-items: center;
    }

    &-image {
      width: 40vw;
      min-width: 500px;

      @media screen and (max-width: 600px) {
        width: 100vw;
      }
    }

    &-data {
      margin-top: 50px;
      margin-left: 5vw;
      width: 30vw;
      height: 100px;

      &-buttons {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;

        &-big {
          height: 50px;
          width: 150px;
          border-radius: 5px;
          margin-right: 5px;

          display: flex;
          justify-content: center;
          align-items: center;
        }

        &-small {
          height: 50px;
          width: 50px;
          border-radius: 10px;

          display: flex;
          justify-content: center;
          align-items: center;
        }

        &-small:hover,
        &-big:hover {
          cursor: pointer;
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}

.littleMargin {
  margin-top: 10px;
}
