.mainLayout {
  width: 100%;

  &-head {
    width: 100%;
    background-color: $primary;
  }

  &-main {
    width: 100%;
    min-height: 70vh;
    background-color: $secondary;
    padding: 50px;
  }

  &-footer {
    width: 100%;
    background-color: $primary;
  }
}
