.dialog {
  width: 500px;
  height: 400px;

  &-head {
    padding-bottom: 10px;
  }

  &-main {
    display: flex;
    flex-direction: column;
    height: 280px;

    &-section {
      height: 100%;
      flex: 1;
      overflow-y: scroll;
    }

    &-item {
      // item styles

      margin: 15px;
      height: 120px;
      display: flex;
      align-items: center;

      &-separator {
        height: 80%;
        width: 1px;
        background-color: gray;
      }

      &-left {
        margin: 20px;
        height: 100px;
        width: 120px;
        display: flex;
        align-items: center;
        &-image {
          width: 100%;
          height: 100%;
        }
      }

      &-right {
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
      }

      // item styles
    }
  }

  &-actions {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
  }
}

.icon_button_style {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
}

.icon_button_style:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
