.footer {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: $primary;
}

.footer__img-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.font-white {
  color: $secondary;
}
