.cart:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
  cursor: pointer;
}

.cart {
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.header {
  &-image {
    height: 20px;
  }
}

.pointer {
  cursor: pointer !important;
}

.footer-socials-icon-main {
  height: 30px;
  width: 30px;
  margin: 8px;
  cursor: pointer;
}

.footer__contact-us-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
