@import '../../quasar.variables.scss';

.orderSuccess {
  min-height: calc(100vh - 58px);
  width: 100%;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15%;

  &-icon {
    background-color: $primary;
    border-radius: 50%;
    padding: 10px;
  }

  &-top {
    margin-bottom: 20px;

    &-textHeader {
      font-size: 24px;
      font-weight: bold;
      color: $primary;
      margin-bottom: 10px;
    }

    &-text,
    &-textHeader {
      text-align: center;
    }
  }

  &-bottom {
    margin-top: 20px;
  }
}
